@model LibraryManagerApp.Models.ViewModels.ReaderIndexViewModel

@{
	ViewData["Title"] = "Readers";
}


<section class="readers-page">



	<div class="readers-form-box">


		<h2>Dodaj nowego czytelnika</h2>


		<form asp-controller="Reader" asp-action="Add" method="post">
			@Html.AntiForgeryToken()


			<div class="form-group">
				<label for="firstName">Imię: </label>
				<input type="text" id="firstName" name="FirstName" class="form-control" />
			</div>

			<div class="form-group">
				<label for="lastName">Nazwisko: </label>
				<input type="text" id="lastName" name="LastName" class="form-control" />
			</div>

			<div class="form-group">
				<label for="email">Email: </label>
				<input type="email" id="email" name="Email" class="form-control">
			</div>

			<div class="form-group">
				<label for="telephone">Numer telefonu: </label>
				<input type="text" id="telephone" name="Telephone" class="form-control"/>
			</div>

			<div class="form-group">
				<label for="active">Aktywny: </label>
				<input type="checkbox" id="active" name="Active" value="true" />
				<input type="hidden" name="Active" value="false" />
			</div>


			<div class="text-center mt-3">
				<button type="submit" class="btn btn-primary general-settings-btn">Zapisz</button>
			</div>

		</form>



	</div>




	<div class="readers-table-box">


		<h2>Lista czytelników:</h2>



		<table class="table table-bordered">

			<thead>

				<tr>

					<th>Id</th>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>Email</th>
					<th>Telefon</th>
					<th>Data rejestracji</th>
					<th>Aktywny</th>
					<th>Lista książek</th>

				</tr>

			</thead>
			<tbody>

				@foreach (var reader in Model.Readers)
				{
					<tr>

						<td>@reader.ReaderId</td>
						<td>@reader.FirstName</td>
						<td>@reader.LastName</td>
						<td>@reader.Email</td>
						<td>@reader.Telephone</td>
						<td>@reader.RegistrationDate</td>
						<td>@reader.Active</td>

						<td>
							@foreach (var book in reader.RentalList)
							{
								<div>- @book.Book?.Title</div>
							}
						</td>

					</tr>
				}

			</tbody>

		</table>

	</div>


</section>
