@model LibraryManagerApp.Models.Author

@{
	ViewData["Title"] = "Szczegóły autora";
}

<section class="authors-page">
	<div class="authors-table-box">
		<h2>Szczegóły autora - edycja</h2>

		@if (ViewBag.EditMode == true)
		{
			<form asp-action="Update" method="post">
				<input type="hidden" name="id" value="@Model.Id" />

				<div class="form-group mb-3">
					<label for="FirstName">Imię</label>
					<input type="text" name="FirstName" value="@Model.FirstName" class="form-control" />
				</div>

				<div class="form-group mb-3">
					<label for="LastName">Nazwisko</label>
					<input type="text" name="LastName" value="@Model.LastName" class="form-control" />
				</div>

				<button type="submit" class="btn btn-primary general-settings-btn">Zapisz</button>
				<a asp-action="Index" class="btn btn-secondary author-btn-secondary">Powrót</a>
			</form>
		}
		else
		{
			<p><strong>ID:</strong> @Model.Id</p>
			<p><strong>Imię:</strong> @Model.FirstName</p>
			<p><strong>Nazwisko:</strong> @Model.LastName</p>

			<a asp-action="Details" asp-route-id="@Model.Id" asp-route-editMode="true"
			   class="btn btn-primary general-settings-btn">Edytuj</a>

			<a asp-action="Index" class="btn btn-secondary author-btn-secondary">Powrót</a>

		}

	</div>
</section>